language: node_js
node_js:
  - "14"

before_install:
- npm install -g npm@latest
- npm install -g greenkeeper-lockfile
install: npm install
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload